// dark-theme
$dark-theme-bg: #000000;
$dark-theme-bg-addition: #a1a4a7;

$dark-theme-color: #ffffff;

// components
$btn-hover-bg: #c0c0c0;

$btn-icon-fill: #808080 ;
$btn-icon-bg: #000000;

$editor-bg: #ffff00;
$editor-border-color: #000000;

$list-item-border-color: #808080 ; 
$list-item-bg-hover: #e6ebef;
$list-item-placeholder-color: #777777;

$list-type-color: #ffffff;

$input-error-bg: #f2d4d9;
$input-error-border-color: #ff0000;
$input-error-placeholder-color: #ff0000;

$input-field-border-color: hsl(0,0%,80%);
$datepicker-border-color: hsl(0,0%,80%);

$switch-handle-bg: #000000;
$switch-bg: #ffffff;
$switch-border-color: #000000;